html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #4F7CAC;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    list-style: none;
    width: 15%;
    background-color: #385E7C;
    color: white;
    text-align: center;
    padding: 10px 20px 0px;
}
.menu ul li{
    list-style: none;
    padding-top: 10px;
}
li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
.header {
    background-color: #4F7CAC;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 75%;
    height: 100%;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table, th,td{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: black;
    color: white;
}
h1,p{
    text-align: center;
}
iframe{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
  border: 2px solid #000;
  padding: 20px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Espaçamento dos campos */
.form-container input,
.form-container button {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
}

/* Botão */
.form-container button {
  cursor: pointer;
}

.footer {
    background-color: #4F7CAC;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.footer h1{
    text-transform: uppercase;
}