html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
        width: 75%;
        height: 100%;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table, th,td{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: black;
    color: white;
}


.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.footer h1{
    text-transform: uppercase;
}